In [8]:
# Import Library
import numpy as np # linear algebra
import pandas as pd # data processing, pembacaan file excel
import matplotlib.pyplot as plt # untuk plotting

In [9]:
# Pembacaan File Data Polusi Udara ISPU Excel
DKI1 = pd.read_excel("./Data/Data ISPU.xlsx", sheet_name="DKI1")
DKI2 = pd.read_excel("./Data/Data ISPU.xlsx", sheet_name="DKI2")
DKI3 = pd.read_excel("./Data/Data ISPU.xlsx", sheet_name="DKI3")
DKI4 = pd.read_excel("./Data/Data ISPU.xlsx", sheet_name="DKI4")
DKI5 = pd.read_excel("./Data/Data ISPU.xlsx", sheet_name="DKI5")

In [10]:
# Menampilkan 5 Data pertama DKI1
DKI1.head()

,Tanggal,Wilayah,PM10,SO2,CO,O3,NO2,Max,Critical,Kategori
0,2017-01-01 00:00:00,DKI1 (Bunderan HI),63.0,34.0,25.0,21.0,2.0,63.0,PM10,Sedang
1,2017-01-02 00:00:00,DKI1 (Bunderan HI),16.0,32.0,16.0,19.0,1.0,32.0,SO2,Baik
2,2017-01-03 00:00:00,DKI1 (Bunderan HI),18.0,32.0,17.0,20.0,2.0,32.0,SO2,Baik
3,2017-01-04 00:00:00,DKI1 (Bunderan HI),24.0,32.0,22.0,20.0,2.0,32.0,SO2,Baik
4,2017-01-05 00:00:00,DKI1 (Bunderan HI),29.0,32.0,25.0,14.0,2.0,32.0,SO2,Baik

In [5]:
# Hanya menampilkan data zat yang diukur
DKI1_Data = DKI1.loc[:, ~DKI1.columns.isin(['Tanggal', 'Wilayah', 'Critical', 'Kategori'])]
DKI2_Data = DKI2.loc[:, ~DKI2.columns.isin(['Tanggal', 'Wilayah', 'Critical', 'Kategori'])]
DKI3_Data = DKI3.loc[:, ~DKI3.columns.isin(['Tanggal', 'Wilayah', 'Critical', 'Kategori'])]
DKI4_Data = DKI4.loc[:, ~DKI4.columns.isin(['Tanggal', 'Wilayah', 'Critical', 'Kategori'])]
DKI5_Data = DKI5.loc[:, ~DKI5.columns.isin(['Tanggal', 'Wilayah', 'Critical', 'Kategori'])]
DKI1_Data

      PM10   SO2    CO    O3   NO2   Max
0     63.0  34.0  25.0  21.0   2.0  63.0
1     16.0  32.0  16.0  19.0   1.0  32.0
2     18.0  32.0  17.0  20.0   2.0  32.0
3     24.0  32.0  22.0  20.0   2.0  32.0
4     29.0  32.0  25.0  14.0   2.0  32.0
...    ...   ...   ...   ...   ...   ...
1761  55.0  29.0  15.0  22.0  39.0  76.0
1762  51.0  28.0  16.0  22.0  39.0  69.0
1763  50.0  31.0  19.0  18.0  35.0  64.0
1764  48.0  31.0  12.0  25.0  40.0  68.0
1765  53.0  27.0  11.0  32.0  32.0  70.0

[1766 rows x 6 columns]

In [6]:
# KNN Imputer
from sklearn.impute import KNNImputer # import KNN Imputer untuk melakukan pengisian data yang hilang

In [7]:
# Impute data ke dalam array
impute_knn = KNNImputer(n_neighbors=5)
DKI1_Array = impute_knn.fit_transform(DKI1_Data)
DKI2_Array = impute_knn.fit_transform(DKI2_Data)
DKI3_Array = impute_knn.fit_transform(DKI3_Data)
DKI4_Array = impute_knn.fit_transform(DKI4_Data)
DKI5_Array = impute_knn.fit_transform(DKI5_Data)

In [54]:
# Import ke CSV
DKI1_Impute = pd.DataFrame(DKI1_Array)
DKI2_Impute = pd.DataFrame(DKI2_Array)
DKI3_Impute = pd.DataFrame(DKI3_Array)
DKI4_Impute = pd.DataFrame(DKI4_Array)
DKI5_Impute = pd.DataFrame(DKI5_Array)

DKI1_Impute.to_csv('.\Data\Impute\DKI1_Impute.csv')
DKI2_Impute.to_csv('.\Data\Impute\DKI2_Impute.csv')
DKI3_Impute.to_csv('.\Data\Impute\DKI3_Impute.csv')
DKI4_Impute.to_csv('.\Data\Impute\DKI4_Impute.csv')
DKI5_Impute.to_csv('.\Data\Impute\DKI5_Impute.csv')